$veryDarkDesaturatedBlue: hsl(238, 29%, 16%); //text primary
$softRed: hsl(14, 88%, 65%); //text primary


$softViolet: hsl(273, 75%, 66%); //bg gradient
$softBlue: hsl(240, 73%, 65%); //bg gradient

$veryDarkGrayishBlue: hsl(237, 12%, 33%); //text neutral
$darkGrayishBlue: hsl(240, 6%, 50%); //text neutral

$lightGrayishBlue: hsl(240, 5%, 91%); //dividers

$white: hsl(0, 100%, 100%); //card


body{
    background: linear-gradient(90deg, $softViolet, $softBlue);
}

#centre-card{
    position: absolute;
    left: 50%;
    top: calc(50% + 32px);
    transform: translate(-50%, -50%);
    width: 327px;
    height: 537px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;

    background: $white url(images/bg-pattern-mobile.svg);
    background-position: 46px -1px;
    background-repeat: no-repeat;

    h1{
        font-weight: 700;
        color: $veryDarkDesaturatedBlue;
        margin-top: 58px;
    }
}



#illustration-mob{
    width: 237px;
    margin: -107px auto auto auto;
    display: flex;
}


#illustration-dt{
    display: none;
}

#illustration-box-dt{
    display: none;
}




#question-area{
    margin-top: -7px;
}

.question{
    cursor: pointer;
    text-align: left;
    border: none;
    transition: 200ms;
    width: 280px;
    margin: auto auto auto auto;
    padding: 17px 0px 16px 1px;
    border-bottom: 1px solid $lightGrayishBlue;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 9.7pt;
    color: $veryDarkGrayishBlue;
    position: relative;
    display: block;

    background: $white url(images/icon-arrow-down.svg);
    background-position: 270px 25px;
    background-repeat: no-repeat;

    &:hover{
        color: $softRed;
    }
}


.answer{
    display: none;
    border-bottom: 1px solid $lightGrayishBlue;
    margin: 11px 24px 0px 25px;
    p{
        color: $darkGrayishBlue;
        text-align: left;
        font-size: 9pt;
        margin: auto auto 18px auto;
        line-height: 18px;
    }
}

.question-open{
    font-weight: 700;
    color: $veryDarkDesaturatedBlue;
    border-bottom: none;
    padding-bottom: 0px; 
}

.answer-open{
    display: block;
}


//DESKTOP DISPLAY
@media only screen and (min-width: 1020px){
    #centre-card{
        width: 922px;
        height: 510px;
        text-align: right;
        overflow: hidden;
        background: $white url(images/bg-pattern-desktop.svg);
        background-position: -577px -294px;
        background-repeat: no-repeat;

        h1{
            margin: 64px 379px 20px auto;
        }

    }

    #illustration-mob{
        display: none;
    }

    #illustration-dt{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: -7px auto auto -84px;
        
    }


    #illustration-box-dt{
        display: block;
        position: fixed;
        transform: translate(-93px, 205px)
    }

    #question-area{
        margin-right: -373px;
    }

    .question{
        width: 356px;
        font-size: 10.5pt;
        
    }

    


}





.attribution{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 8pt;
    position: absolute;
    right: 0px;
    bottom: 0px;
}