$veryDarkDesaturatedBlue: hsl(238, 29%, 16%); //text primary
$softRed: hsl(14, 88%, 65%); //text primary


$softViolet: hsl(273, 75%, 66%); //bg gradient
$softBlue: hsl(240, 73%, 65%); //bg gradient

$veryDarkGrayishBlue: hsl(237, 12%, 33%); //text neutral
$darkGrayishBlue: hsl(240, 6%, 50%); //text neutral

$lightGrayishBlue: hsl(240, 5%, 91%); //dividers

$white: hsl(0, 100%, 100%); //card


body{
    background: linear-gradient(90deg, $softViolet, $softBlue);
}

#centre-card{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    width: 327px;
    height: 537px;
    background-color: $white;
    border-radius: 20px;
    text-align: center;
    

    img{
        width: 237px;
        margin: -107px auto auto auto;
        display: flex;

    }


}

